/*Base Colors*/
$base-color: white;
$accent-bright-color: #57BC90; // rgb: 87, 188, 144
$accent-dim-color: #015249; //rgb: 1, 82, 73
$accent-light-color: #77C9D4;
$accent-tin-color: #A5A5AF;

$accent-color: white;
$nav-background: rgba(87, 188, 144, 1);

$standard-background: #e6ecf0;

$link-secondary: #e6ecf0;
$link-secondary-visited: #e6ecf0;
